body {
    background-color: rgb(103, 129, 87);
}

li {
    padding: 2em 2em;
}

lh {
    max-width: 200px;
    text-align: center;
    display: inline-block;
}

ul {
    border: thin solid black;
    display: inline-block;
    max-width: 200px;
}